@{
    ViewData["Title"] = "Página Incial";
}

<div class="text-center">
    <h1 class="display-4">bem-vindo!</h1>
    <h2>Sistema de Secretaria</h2>
    <img class="img" src="~/css/images/mvc.jpg" />
    <h3>Criador: Arthur G Andrade.</h3>
    <h4>Matrícula: 20157089</h4>
    
</div>
