@model Secretaria.Model.TbMatricula

@{
    ViewData["Title"] = "Nova MatrÍcula";
}

<h1>Matrículas</h1>

<hr />
<div class="row">
    <div class="md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CursoIdCurso" for="exampleFormControlInput1" class="form-label"></label>
                <select asp-for="CursoIdCurso" class ="form-control" asp-items="ViewBag.ListaCurso"></select>
            </div>
            <div class="form-group">
                <label asp-for="AlunoIdAluno" for="exampleFormControlInput1" class="form-label"></label>
                <select asp-for="AlunoIdAluno" class ="form-control" asp-items="ViewBag.ListaAluno"></select>
            </div>
            <div class="form-group">
                <label asp-for="Situacao" for="exampleFormControlInput1" class="form-label"></label>
                <input asp-for="Situacao" class="form-control" />
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-light btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger btn-sm">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
